<!DOCTYPE html>
<html>
  <head>
    <title>MessagingTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sticky-top site-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <div class="mr-md-auto">
        <h5 class="font-weight-bold"><%= link_to "Company name", :root %></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2" href="#">Features</a>
          <a class="p-2" href="#">Enterprise</a>
          <a class="p-2" href="#">Support</a>
          <a class="p-2" href="#">Pricing</a>
        </nav>
      </div>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, class: ["btn", "btn-outline-primary"], method: :delete %>
      <% else %>
        <a class="btn btn-outline-primary mr-3" href=<%= new_user_session_path %> >Login</a>
        <a class="btn btn-outline-primary" href=<%= new_user_registration_path %> >Sign up</a>
      <% end %>
    </div>

    <div class="px-4">
      <p class="notice mb-1"><%= notice %></p>
      <p class="alert mb-1"><%= alert %></p>
      <div class="">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<style>
  .site-header{
    background-color: #111;
  }

  .site-header a{
    color: #BBB;
  }

  .site-header a:hover{
    color: #EEE;
    text-decoration: none;
  }
</style>